In [2]:
import glob
import pandas as pd

In [7]:


# set search path and glob for files
# here we want to look for csv files in the input directory
path = 'sam\Output'
files = glob.glob(path + '/*compiled_z_scores.csv')

# create empty list to store dataframes
li = []

# loop through list of files and read each one into a dataframe and append to list
for f in files:
    # read in csv
    temp_df = pd.read_csv(f)
    # append df to list
    li.append(temp_df)
    print(f'Successfully created dataframe for {f} with shape {temp_df.shape}')

# concatenate our list of dataframes into one!
df = pd.concat(li, axis=0)
print(df.shape)
df.head()

Successfully created dataframe for sam\Output\compiled_z_scores.csv with shape (1125, 12)
(1125, 12)

,Date,Unemployment_Z,Empire_St_Z,Kansas_City_Z,Richmond_Z,Chicago_Z,10-2_Z,10-3mo_Z,30-5_Z,Sentiment_Z,Wages_Z,SP500_Z
0,1927-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1928-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1928-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1928-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1928-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN